{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condition utilisation</title>
</head>
<body>
    <h2>Conditions d’utilisation</h2>

    <ol>
        <li><h3>Introduction</h3>
            <p>Bienvenue sur le site e-commerce Astooglam. En accédant à ce site, 
                vous acceptez les présentes conditions d’utilisation. Veuillez les lire 
                attentivement avant de poursuivre votre navigation.
            </p>
        </li>
        <li>
            <h3>Utilisation du site</h3>
            <ul>
                <li><h5>Admissibilité :</h5> Vous devez être âgé de 18 ans ou plus pour effectuer des achats sur notre site.</li>
                <li><h5>Compte utilisateur :</h5> Vous êtes responsable de la protection de votre identifiant et de votre mot de passe.
                    Toute activité sur votre compte est sous votre responsabilité.
                </li>
                <li><h5>Propriété intellectuelle :</h5> Tout le contenu du site, y compris les images, les textes et les logos, est la propriété 
                    exclusive d’Astooglam. Toute reproduction sans autorisation est strictement interdite.
                </li>
            </ul>
        </li>
        <li>
            <h3>Commandes et paiements</h3>
            <ul>
                <li><h5>Exactitude des informations : </h5>Vous devez fournir des informations exactes et complètes lors de la passation de commande.</li>
                <li><h5>Paiements : </h5>Nous acceptons les modes de paiement énumérés sur le site. Les transactions sont sécurisées.
                </li>
                <li><h5>Livraison : </h5>Les délais de livraison sont indicatifs et peuvent varier. Astooglam n’est pas responsable des retards dus à des circonstances imprévues.
                </li>
            </ul>
        </li>
        <li>
            <h3>Retours et remboursements</h3>
            <ul>
                <li><h5>Politique de retour : </h5>Vous avez 7 jours à compter de la réception de votre commande pour demander un retour ou un échange.</li>
                <li><h5>Conditions : </h5>Les produits doivent être retournés dans leur état d’origine, avec leur emballage intact.</li>
                </li>
            </ul>
        </li>
        <li>
            <h3>Limitations de responsabilité</h3>
            <p>Astooglam ne peut être tenu responsable de tout dommage direct ou indirect résultant de l'utilisation du site ou de l'achat des produits, sauf en cas de faute grave.</p>
        </li>
    </ol>
</body>
</html>