{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politique de confidentialité</title>
</head>
<body>
    <h2>Politique de Confidentialité</h2>

    <ol>
        <li><h3>Introduction</h3>
            <p>Chez Astooglam, la protection de vos données personnelles est une priorité.
                Cette politique explique comment nous collectons, utilisons et protégeons vos informations.
            </p>
        </li>
        <li>
            <h3>Données collectées</h3>
            <p>Nous collectons les informations suivantes lorsque vous utilisez notre site :</p>
            <ul>
                <li><h5>Informations personnelles :</h5>Nom, prénom, adresse, numéro de téléphone, email.</li>
                <li><h5>Données de paiement :</h5> Les informations relatives aux transactions sont traitées de manière sécurisée.</li>
                <li><h5>Données de navigation :</h5> TAdresse IP, historique de navigation, préférences utilisateur.</li>
            </ul>
        </li>
        <li>
            <h3>Utilisation des données</h3>
            <p>Vos données sont utilisées pour les finalités suivantes :</p>
            <ul>
                <li>Traitement des commandes et des livraisons.</li>
                <li>Amélioration de l’expérience utilisateur.</li>
                <li>Envoi d’offres promotionnelles et de newsletters (avec votre consentement).</li>
            </ul>
        </li>
        <li>
            <h3>Partage des données</h3>
            <p>Nous ne partageons pas vos données avec des tiers, sauf dans les cas suivants :</p>
            <ul>
                <li>Pour le traitement des paiements via des prestataires sécurisés.</li>
                <li>En cas d’obligation légale ou judiciaire.</li>
            </ul>
        </li>
        <li>
            <h3>Sécurité des données</h3>
            <p>Nous mettons en place des mesures de sécurité avancées pour protéger vos informations contre tout accès non autorisé ou toute divulgation.</p>
        </li>
        <li>
            <h3>Vos droits</h3>
            <p>Vous disposez des droits suivants concernant vos données personnelles :</p>
            <ul>
                <li><h5>Accès et rectification : </h5>Vous pouvez accéder à vos données et demander des modifications.</li>
                <li><h5>Suppression :</h5> Vous pouvez demander la suppression de vos informations personnelles.</li>
                <li><h5>Opposition :</h5> Vous pouvez refuser l’utilisation de vos données à des fins marketing.</li>
            </ul>
        </li>
        <li>
            <h3>Contact</h3>
            <p>Pour toute question ou demande concernant vos données personnelles, contactez-nous à :
                Email : support@astooglam.com
                Téléphone : +221 33 XXX XX XX
            </p>
        </li>
    </ol>
</body>
</html>