{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'base.css'%}">
    <link rel="shortcut icon" href="{% static 'logo1.jpg'%}" type="image/x-icon">
    <title>Services</title>
    <link rel="stylesheet" href="{%static 'services.css'%}">
</head>
<body>
    <nav class="large-screen-nav">
        <div class="left-ls-nav">
            <img src="{% static 'logo1.jpg'%}" alt="">
            <a href="{% url '' %}">Accueil</a>
            <a href="{% url 'boutique' %}">Boutique</a>
            <a class="active" href="{% url 'services' %}">Services</a>
            <a href="{% url 'apropos' %}">A-Propos</a>
            <a href="{% url 'contact' %}">Contact</a>
            </div>
        </div>
        <div class="right-ls-nav">
            <form action="#" class="ls-nav-search-form">
                <img class="sr-icon-ls-nav" src="{% static 'search.png'%}" alt="">
                <input type="text" name="sr-input-ls-nav" id="sr-input-ls-nav" placeholder="Rechercher">
                <button class="sr-btn-ls-nav"><img src="{% static 'search.png'%}" alt=""></button>
            </form>
            <div class="ls-nav-panier-user">
                <a href="{% url 'panier' %}">
                    <span>5</span>
                    <img src="{% static 'panier.png'%}" alt="">
                </a>
                <a href="{% url 'profil' %}">
                    <div class="user-container"></div>
                </a>
            </div>
        </div>
    </nav>
    <nav class="mobile-screen-nav">
        <img id="open-mobile" class="hamburger-image" src="{% static 'menu.png'%}" alt="">
        <div class="ls-nav-panier-user">
            <a href="{% url 'panier' %}">
                <span>5</span>
                <img src="{% static 'panier.png'%}" alt="">
            </a>
            <a href="{% url 'profil' %}">
                <div class="user-container"></div>
            </a>
        </div>
    </nav>
    <div id="mobile-nav">
        <div class="mobile-header">
            <img class="logo-mobile" src="{% static 'logo1.png'%}" alt="">
            <img id="close-mobile" src="{% static 'close.png'%}" alt="">
        </div>
        <div class="mobile-nav-links-container">
            <a href="{% url '' %}">Accueil</a>
            <a href="{% url 'boutique' %}">Boutique</a>
            <a class="active" href="{% url 'services' %}">Services</a>
            <a href="{% url 'apropos' %}">A-Propos</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>
    </div>
    <form action="#" class="mobile-nav-search-form">
        <img class="sr-icon-mobile-nav" src="{% static 'search.png'%}" alt="">
        <input type="text" name="sr-input-ls-nav" id="sr-input-mobile-nav" placeholder="Rechercher">
        <button class="sr-btn-mobile-nav"><img src="{% static 'search.png'%}" alt=""></button>
    </form>
    <div class="contenu">
        <div class="debut">
            <div><h4>Services</h4></div>
        </div>
        <div class="corps">
            <div class="serv"><span>Vente en ligne</span></div>
            <div class="serv"><span>Coiffure</span></div>
        </div>
    <script src="{%static 'base.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>