*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenu {
    margin-left: 20px;
}
.debut{
    display: flex;
    justify-content: space-between;
}

::placeholder{
    color: #A8E0F9;
    font-size: 12px;
}


.serv{
    margin-top: 50px;
    padding: 10px;
    width: 40%;
    border: 1px solid #A8E0F9;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #A8E0F9;
}

.serv span{
    font-size: 40px;
    font-weight: bold;
}

.serv_a {
    color: inherit !important;
    text-decoration: none !important;
    cursor: pointer;
}

.serv_a:visited {
    color: inherit !important;
}

/* Désactive les effets de survol */
.serv_a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

/* Désactive le changement de couleur quand le lien est actif */
.serv_a:active {
    color: inherit !important;
}
        

.icon{
    position: absolute;
    left: 10px;
    top: 25px;
}



@media screen and (max-width: 767px){
    .contenu {
        margin-left: 0px;
    }

    .serv{
        margin-top: 50px;
        padding: 10px;
        width: 100%;
        border: 1px solid #A8E0F9;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    
    .serv span{
        font-size: 20px;
        font-weight: bold;
    }
}